
h1 {
  font-family: Georgia, sans-serif;
  font-size: 122%;
  
}
h2 {
  font-family: Arial, sans-serif;
  font-size: 115%;
  
}
p {
  font-family: Times New Roman, sans-serif;
  padding: 4%;
  
}
.navbartop a:link, .navbar a:link {
  text-decoration: none; /* poistaa alleviivauksen */
}
.navbartop{

background-color: yellow;
border-style: solid;
border-width: thin;
border-color: black;
  position: absolute;
  top: 10%;
  left: 10%;
  width:10em;
 }

.kuva{
float:right;
}

.content{
	margin:auto;
	width:80%;
	background-color:#bfff80;
	padding: 5em 5em 5em 5em;
	border-radius:10em 3em 10em 3em;
	margin-bottom:5em;
}
body{
	background-color:#efb78f;
}
.dropdown{
	margin-top: 3em;
	margin-left:3em;
}

