



.content{
	margin:auto;
	width:80%;
	background-color:#bfff80;
	padding: 5em 5em 5em 5em;
	border-radius:10em 3em 10em 3em;
	margin-bottom:5em;
}
body{
	background-color:#efb78f;
}
.dropdown{
	margin-top: 3em;
	margin-left:3em;
}
.kuva{
	margin:auto;
	width:80%;
 
	margin-bottom:5em;
	
}

